@model LMS.Models.User
@{
    ViewData["Title"] = "Login Page";
}

<div class="text-Left">
    <h1 class="display-7">SignUp</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

@if(@ViewBag.Message != null)
{
    <div class="alert alert-danger alert-dismissible fade show">
      @ViewBag.Message
    </div>   
}
@using (Html.BeginForm("New", "Account"))
{
    <div class="row mb-3">
        <div class="col-sm-1 col-form-label">
            @Html.LabelFor(m => m.Name)
        </div>
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-1 col-form-label">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-1 col-form-label">
            @Html.LabelFor(m => m.UserName)
        </div>
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-1 col-form-label">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    

    <button type="submit" class="btn btn-primary">SignUp</button>
}
