@model LMS.ViewModel.BookReviewModel
@{
    ViewData["Title"] = "Book";
}


<div>
    <a class="btn btn-secondary" style="width:150px" asp-controller="Books" asp-action="Back" asp-route-id="index">Back</a>
    <div id="bookcard">
        <div class="row">
            <div id="img-con" class="col-4">
                <img id="bookcard-img" class="rounded" src="@Model.Book.ImageUrl"/>
            </div>
            <div id="bookcard-info" class="col">
                <h2>@Model.Book.Title</h2>
                <h5>by @Model.Book.Title</h5>
                <div class="row">
                    <div class="col-sm">
                        <a class="btn btn-sm btn-primary">Edition: @Model.Book.Edition</a>
                        <a class="btn btn-sm btn-success">@Model.Book.Edition</a>
                        <a class="btn btn-sm btn-primary"> @Model.Book.Category.Name</a>
                    </div>
                </div>
                
                <p>@Model.Book.Description</p>
                <div>
                    @if (@Model.Book.IsAvailable && @Model.Book.NumberOfCopies >0)
                    {
                        <a class="btn btn-outline-success" asp-action="AddToReadings" asp-route-bookId="@Model.Book.Id" asp-controller="Books">Add to Readings</a>    
                    }else{
                        <a class="btn btn-danger" >Not Available</a>    
                    }
                </div>
                @if(@Model.Review !=null){
                    <div style="padding-top: 30px">
                        <h4>Reviews</h4>
                        @foreach(var review in @Model.Review)
                        {
                            <div style="padding-top: 10px; padding-left: 30px">
                                <h5>@review.User.Name</h5>
                                <h6>Stars: @review.StarValue</h6>
                                <p>@review.Description</p>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

